@use '../../scss/' as *;

.header {
   height: 96px;
   position: absolute;
   top: 40px;
   right: 0;
   left: 55px;
   @include flex(unset);

   input[name='nav-mobile-checkbox'] {
      display: none;
   }

   label[for='nav-mobile-checkbox'] {
      display: none;
   }
}

.header .nav {
   margin-left: auto;
   width: 830px;
   height: 100%;
   padding-left: 100px;
   display: flex;
   background: rgba(255, 255, 255, 0.04);
   backdrop-filter: blur(81.5485px);
   position: relative;
   &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: calc(100% - 30px);
      width: 473px;
      height: 1px;
      background-color: $primaryTextColor;
      opacity: 0.25;
   }
   &__item {
      @include flex(unset);
      margin: 0 24px;
      position: relative;
   }
   &__link {
      height: 100%;
      @include flex;
      color: $primaryTextColor;
      text-transform: uppercase;
      font-family: $secondaryFontFamily;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
      cursor: pointer;
      @include navHover(3px);
      span {
         font-weight: bold;
         margin-right: 12px;
      }
   }
}

@media (max-width: 1439px) {
   .header {
      top: 0;
      @media screen and (min-width: 375px) and (max-width: 767px) {
         right: 24px;
         left: 24px;
         height: 88px;
         &__logo {
            transform: scale(calc(5 / 6));
         }

         input[name='nav-mobile-checkbox'] {
            display: none;
            & + label {
               .nav-moblie-close-icon {
                  display: none;
               }
               .nav-moblie-menu-icon {
                  display: block;
               }
            }

            &:checked {
               & + label {
                  .nav-moblie-menu-icon {
                     display: none;
                  }
                  .nav-moblie-close-icon {
                     display: block;
                  }
               }

               & ~ .nav {
                  display: block;
               }
            }
         }

         label[for='nav-mobile-checkbox'] {
            display: block;
            position: fixed;
            top: 24px;
            right: 24px;
            z-index: 1000;
         }
      }
      .nav {
         width: 450px;
         margin-left: auto;
         padding-left: 0;
         justify-content: space-evenly;
         &:before {
            display: none;
         }
         &__item {
            margin: 0;
         }
         &__link {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 2.3625px;
            span {
               display: none;
            }
         }

         @media screen and (min-width: 375px) and (max-width: 767px) {
            flex-direction: column;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 254px;
            padding-top: 100px;
            padding-left: 32px;
            justify-content: unset;
            z-index: 999;
            animation: slideRTL 0.3s linear;
            display: none;

            &__item {
               margin: 16px 0;
            }
            &__link {
               font-size: 16px;
               line-height: 19px;
               letter-spacing: 2.7px;
               &:before,
               &:after {
                  display: none;
               }
               span {
                  margin-right: 10px;
                  display: block;
               }
            }
         }
      }
   }
}
