@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap');

$primaryTextColor: #ffffff;
$secondaryTextColor: #d0d6f9;
$primaryBgColor: #0b0d17;

$fontFamily: 'Bellefair';
$secondaryFontFamily: 'Barlow Condensed', sans-serif;
$thirdFontFamily: 'Barlow', sans-serif;

@keyframes slideRTL {
   from {
      transform: translateX(100%);
   }
   to {
      transform: translateX(0);
   }
}
